.background {
    background: black;
    width: 100%;
    position: relative;
    height: 2000px;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.allUser {
    position: absolute;
    z-index: 2;
    top: 3%;
    left: 30%;
    width: 40%;
    height: 30%;
    background: white;
    color: black;
    overflow-y: scroll;
}

.closeButton {
    margin-bottom: 2%;
    width: 100px;
}

@media screen and (min-width: 1000px) {
    .background {
        background: black;
        width: 100%;
        position: relative;
        height: 2000px;
        z-index: 1;
        top: 0;
        left: 0;
        opacity: 0.5;
    }

    .allUser {
        width: 100%;
        height: 85%;
        background: white;
        color: black;
        overflow-y: scroll;
        z-index: 0;
        left: 0;
    }

    .removeUser {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 30%;
        width: 40%;
        height: 25%;
        background: white;
        color: black;
        display: flex;
        flex-direction: column-reverse;
        border-radius: 10px;
    }
}

body {
    font-family: 'lato', sans-serif;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
.small {
    font-size: 0.5em;
}

.responsive-table {

}
li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.table-header {
    background-color: #0000003b;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
img.profilePic {
    width: 50px;
    height: 50px;
}
.col-1 {
    flex-basis: 60%;
    margin-top: 20px;
}

.col-2 {
    flex-basis: 0%;
}

.col-3 {
    flex-basis: 25%;
}

.col-4 {
    flex-basis: 25%;
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }
    li {
        display: block;
    }

    .col {

        flex-basis: 100%;
        margin-top: 30px;
    }

    .col {
        display: flex;
        padding: 10px 0;

    }

}
