.upload {
    background-color: rgb(49 28 128);
    position: fixed;
    justify-content: space-around;
    align-items: center;
    display: flex;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}
.upload-title{
    font-size: 2.5rem;
    cursor: pointer;
}
.upload-title>input {
    display: none;
}
.image-upload>input {
    display: none;
}
.image-upload{
    font-size: 25px;
}

